.button{
    background-color: green;
    margin-top: 30px;
    padding: 20px;
    font-size: 15px;
    font-weight: bold;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}

.button:hover{
    background-color: rgb(100, 165, 2);
}