.form {
    display: flex;
    justify-content: center;
    border: solid 2px black;
    margin: 0 5px 5px 5px;
}

.form form {
    max-width: 95%;
    background-color: rgb(219, 216, 216);
    padding: 10px 10px;
}