.text-input label {
    display: block;
    font-size: 20px;
    margin-bottom: 8px;
}

.text-input input {
    padding: 20px;
    width: 100%;
    border: none;
    font-size: 20px;
    box-sizing: border-box;
}
